@import "styles/functions";
@import "styles/variables";
@import "styles/minxin/scroolbar.scss";

.measurement__container {
  max-width: 651px;;
  margin: auto;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  min-height: pxToRem(886);

  @media only screen and (width < $bp-small) {
    width: 100vw;
    
  }
  

  .measurement__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $light;
    border-radius: 6px;
    row-gap: 1rem;
    padding: 3rem 0;

    .description {
      padding: 0 1rem 0 1rem;
      text-align: center;
    }

    @media only screen and (width < $bp-small) {
      width: 100vw;
      padding: 0 8px;
      
    }

    .form__group {
      max-width: 595px;
      display: flex;
      flex-direction: column;
      row-gap: 12px;
    }

    .title {
      color: var(--Dark-1, #1a1a1c);
      font-family: $default-font;
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
    }
    .description {
      color: var(--Gray-Medium-2, #848484);
      font-family: $default-font;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    .form__row {
      max-width: 595x;
      width: 100%;
      display: flex;
      column-gap: 8px;
      justify-content: space-between;

      @media only screen and (width < $bp-small) {
        flex-direction: column;
        row-gap: 1rem;
        
      }

      .options {
        display: flex;
      }
    }

    .accurate {
      
      color: #000;
        text-align: center;
        font-family: $default-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        letter-spacing: 0.5px;
    }

    .unite {
      color: var(--Dark-1, #1a1a1c);
      /* text/body-1 */
      font-family: $default-font;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      letter-spacing: 0.5px;

      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .video__guide {
    
    width: 100%;
    height: 100%;
    @media only screen and (width < $bp-small) {
      img {
        width: 100%;
        height: auto;
      }
    }

    
  }
  .time__tape {
    display: flex;
    justify-content: center;

    @media only screen and (width < $bp-small) {
      flex-direction: column;
      row-gap: 1rem;
    }
    .col {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      align-items: center;

      * {
        font-family: $default-font;
      }
      
    }
  }
}
