.toltip {
   
  position: absolute;
  bottom: 0;
  width: 100%;


  div {
  
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px; /* 140% */
    z-index: 10000;
    
    padding: 4px 8px;
    
    color:#FFF;
    border-radius: 4px;
background: var(--tooltip-fill, rgba(97, 97, 97, 0.90));
  }
}
