@import "styles/functions";
@import "styles/variables";
@import "styles/minxin/scroolbar.scss";

.styles__container {
    display: flex;
    flex-direction: column;
    row-gap: 2.2rem;
    margin-top: 20.39px;
    height: calc(100vh - 254px);
    padding-bottom: 1rem;
    .row {
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        .title {
            color: #000;
            font-family: $default-font;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: capitalize;
        }
        .items {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            // column-gap: 24px;
            align-items: center;
            // row-gap: 1rem;
            gap:1rem;

        .item {
            position: relative;
        }

         & .checkbox:checked + .item::before {
            position: absolute;

            content: url('/icon/checked.svg');
            top: -10px;
         }
            .item {
                .col {
                display: flex;
                flex-direction: column;
                // row-gap: 10.07px;
                align-items: center;

                .style__name {
                    color: var(--dark-blue-1, #1B365C);
                    font-family: $default-font;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    text-transform: capitalize;
                }
                }
            }
            }
    }
}

.colors {
    position: absolute;
    width: 287px;
    height: 151px;
    background-color: $light;
    overflow: hidden;
    z-index: 1000;
    padding: 14px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);

    .threads {
        display: flex;
        gap: 5px !important;
        flex-wrap: wrap;

        img {
            border-radius: 2px;
        }
    }




}