@import "styles/functions";
@import "styles/variables";
@import "styles/minxin/scroolbar.scss";


.container {
    max-width: 651px;
    margin: auto;
    padding: 2rem;
    background-color: $light;
    border-radius: 6px;
}