@import "styles/functions";
@import "styles/variables";
@import "styles/minxin/scroolbar";
.model__container {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, .25);
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    z-index: 2;

    .model {
        max-width: pxToRem(940);
        width: 100%;
        background-color: $light;
        padding: pxToRem(32);
        display: flex;

        .contents {
            display: flex;
            column-gap: pxToRem(24);

            .col {
                .row {
                    .main__img {
                        max-width: pxToRem(330);
                        height: auto;
                        width: 100%;
                    }
                }
            }
        }
    }
}