@import "../../styles/functions";
@import "../../styles/variables";
.main__content {
  margin-top: 35px;
  display: grid;
  grid-template-columns: pxToRem(calc(482 + 11)) 1fr pxToRem(337);
  column-gap: 1rem;
  margin: 0 6px;
  .filter {
    padding: pxToRem(72) 18px 18px 11px;
    background: var(--light-1, #fff);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    .action {
      display: flex;
      align-items: center;
      column-gap: 9px;
      .text {
        display: flex;
        column-gap: 4px;
      }
      .febric,
      .count {
        font-style: normal;
        line-height: normal;
        font-family: $default-font;
      }
      .febric {
        color: $gray-medium-4;
        font-size: 14px;
        font-weight: 500;
      }
      .count {
        color: $gray;
        font-size: 13px;
        font-weight: 400;
        line-height: normal;
      }
    }
    .febrics {
        margin-top: 21px;
        display: flex;
        flex-wrap: wrap;
        // display: grid;
        // grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1rem;
        height: calc(100vh - (2.5rem + 56.5px + 4.5rem + 11px + 21px + 21px));
        overflow: auto;
        padding-right: 11px;

        :nth-child(n + 4) {
            /* Your styles here */
            margin-top: 24px;
          }

        .febric {
           
            display: flex;
            flex-direction: column;


            .img {
                .feature {
                    display: none;
                }
                .search__icon {
                    display: none;
                }
            }
            .short__description {
                display: flex;
                justify-content: space-between;
                .col {
                    display: flex;
                    flex-direction: column;
                    row-gap: 4px;
                   

                    .name {
                        color: #000;
                        font-family: $default-font;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }
                    .price {
                        color: var(--gray-medium-2, #848484);
                        font-family: $default-font;
                        font-size: 9px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }
                    .type {
                        display: flex;
                        .fade {
                            color: var(--gray-medium-2, #848484);
                            font-family: $default-font;
                            font-size: 9px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                        }
                        .bold {
                            color: var(--gray-medium-4, #4D4D4F);
                            font-family: $default-font;
                            font-size: 9px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                        }
                    }

                }
            }
        }
        
    }
  }
}


/* Target the entire scrollbar */
.febrics::-webkit-scrollbar {
    width: 1px; /* Width of the scrollbar */
  }
  
  /* Track */
  .febrics::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color of the track */
  }
  
  /* Handle */
  .febrics::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar handle */
    border-radius: 5px; /* Rounded corners for the handle */
  }
  
  /* On hover */
  .febrics::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color of the handle on hover */
  }