$default-font: 'Poppins', sansarif;

$dark: #1A1A1C;
$gray: #848484;
$light: #fff;
$gray-medium-4:#4d4d4f;
$blue:#1b365c;
$dark-medium-1: #000;
$gray-medium-3: #F7F7F9;



$bg-large-1: 85.375rem;
$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-small: 43.75em; // 700px
$bp-extra-small: 40.625em; // 600px
$bp-smallest: 31.25em; // 500px
$small-desktop-height: 48em; // 768px

$left-menu-width: 260; // px